@use "../../scss/responsive.scss" as *;

.hero {
  &__img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 4/6;
    object-fit: cover;
    overflow: hidden;
    object-position: center;
    filter: brightness(95%);
    mix-blend-mode: multiply;
    z-index: 0;
  }
  &__title {
    font-size: 2.3rem;
    font-weight: 900;
    text-transform: uppercase;
    width: auto;
    line-height: 70px;
    text-wrap: balance;
  }
  &__para {
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: capitalize;
    width: auto;
    @include sm {
      width: 60%;
    }
    @include lg {
      width: 40%;
    }
  }
  &__brand {
    &__img {
      object-fit: contain;
      object-position: center center;
      mix-blend-mode: multiply;
      pointer-events: none;
      width: 3rem;
      aspect-ratio: 4/6;
      @include sm {
        width: 6rem;
      }
    }
  }
}
