@use "../../scss/responsive.scss" as *;
.card {
  display: block;
  width: 7rem;
  height: auto;
  @include sm() {
    width: 10rem;
  }
  &__img {
    border-radius: 15px;
    width: 100%;
    aspect-ratio: 1/1;
    background: gray;
    object-position: center;
  }
}
