@use "../../scss/responsive.scss" as *;

.product {
  &__img {
    &__hero {
      width: 100%;
      aspect-ratio: 8/6;
      object-fit: cover;
      object-position: center;
      border-radius: 15px;
      background: gray;
    }
    &__slide {
      width: 6rem;
      aspect-ratio: 2/2;
      border-radius: 8px;
      cursor: pointer;
      object-fit: cover;
      transition: 0.3s ease;
      background: gray;
      &:hover {
        transform: scale(0.9);
      }
    }
  }
}
