@tailwind base;
@tailwind components;
@tailwind utilities;
/* satoshi font */
@font-face {
  font-family: "satoshi";
  src: url("/fonts/satoshi/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "satoshi";
  src: url("/fonts/satoshi/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "satoshi";
  src: url("/fonts/satoshi/satoshi-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "satoshi";
  src: url("/fonts/satoshi/Satoshi-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
/* integral font */
@font-face {
  font-family: "integral";
  src: url("/fonts/integral/int.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "integral";
  src: url("/fonts/integral/int-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "integral";
  src: url("/fonts/integral/int-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "integral";
  src: url("/fonts/integral/int-exbold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "integral";
  src: url("/fonts/integral/int-heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
#root {
  width: 100%;
  height: 100%;
}
body {
  background: #ffffff;
  font-family: "satoshi";
}

p,
a,
h2,
h3,
h4,
h5,
h6,
div,
span,
button {
  color: inherit;
}
label,
input,
textarea,
select {
  color: inherit;
  background: inherit;
}
.satoshi {
  font-family: "satoshi";
}
.integral {
  font-family: "integral";
}

@layer utilities {
  .animate-fade-in-down {
    @apply transition-all duration-500 ease-out translate-y-2 opacity-0;
    animation: fadeInDown 0.5s forwards;
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
